//VARIABLES

@fondo : #222;
@titulo: #0dd3ff;
@verde: #2dde98;
@color-fuente: #fefefe;
@fuente: 'Montserrat Alternates';
@txtGde: 25px;
@fondo2: #f85a40;
body{
    margin: 0;
    padding: 0;
    background: @fondo;
    color: @color-fuente;
    font-family: @fuente;
    font-size: @txtGde;
}
.page{
    display: flex;
}
.container{
    margin: 0px;
    padding: 0px;
    width: 15vw;
    height: 100vh;
    background: @fondo;
    border-right: @verde 2px solid;
    display: flex;
    
        .menu{
            margin-left: 1px;
            span{
            margin-top: 15px;
            margin-left: 15px;
        }
            ul{
                padding: 0px;
                margin-top: 75vh;
                flex-direction: column;

                
                li{
                    
                    margin-left: 15px;
                    list-style: none;
                    
                    
                   }
                }
               
    }
}

.content{
    width: 85vw;
    height: 100vh;
    background: @fondo;
    margin-left: 0px;
    margin-top: 0px;
    justify-content: center;
    
    h1{
        text-align: center;
    }
    h2{
        text-align: center;
    }
    .foto{
        
        width: 30%;
    }
}