body {
  margin: 0;
  padding: 0;
  background: #222;
  color: #fefefe;
  font-family: 'Montserrat Alternates';
  font-size: 25px;
}
.page {
  display: flex;
}
.container {
  margin: 0px;
  padding: 0px;
  width: 15vw;
  height: 100vh;
  background: #222;
  border-right: #2dde98 2px solid;
  display: flex;
}
.container .menu {
  margin-left: 1px;
}
.container .menu span {
  margin-top: 15px;
  margin-left: 15px;
}
.container .menu ul {
  padding: 0px;
  margin-top: 75vh;
  flex-direction: column;
}
.container .menu ul li {
  margin-left: 15px;
  list-style: none;
}
.content {
  width: 85vw;
  height: 100vh;
  background: #222;
  margin-left: 0px;
  margin-top: 0px;
  justify-content: center;
}
.content h1 {
  text-align: center;
}
.content h2 {
  text-align: center;
}
.content .foto {
  width: 30%;
}
