//VARIABLES

@fondo : #222;
@titulo: #0dd3ff;
@color-fuente: #fefefe;
@fuente: 'Montserrat Alternates';
@txtGde: 25px;
@fondo2: #f85a40;
body{
    margin: 0;
    padding: 0;
    background: @fondo;
    color: @color-fuente;
    font-family: @fuente;
    font-size: @txtGde;
}

.container{
    margin: 0;
    padding: 0;
    width: 15vw;
    height: 100vh;
    background: @fondo2;
    border-right: #0dd3ff 2px solid;
    display: flex;
    
        .menu{
            margin: auto;
            span{
            margin-top: 5px;
            margin-left: 15px;
        }
            ul{
                flex-direction: column;
                margin-top: 50vh;
                li{
                    margin: 0;
                    list-style: none;
                    
                    
                   }
                }
                .caja{
                    width: 50px;
                    height: 50px;
                    background: #fff;
                }
    }
}

    

